.slide-enter {
  position: absolute;
  left: -100vw;
}

.slide-enter-active {
  position: absolute;
  left: 0;
  transition: all 300ms ease-in;
}

.slide-exit {
  position: absolute;
  right: 0;
}

.slide-exit-active {
  position: absolute;
  right: -100vw;
  transition: all 300ms ease-out;
}
